.card{
    position: relative;
    background-color: #fff;
    width: 600px;
    padding: 20px;
    max-width: 85vw;
    height:50vh;
    box-shadow: 0px 18px 15px 0px rgb(228, 222, 222);
    border-radius: 20px;
    background-size: cover; /*Resize the background image to cover the entire container, even if it has to stretch the image or cut a little bit off one of the edges*/
    background-position: center;
}

.tinderCards_cardContainer{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.swipe{
    position: absolute;
}

.cardContent{
    width: 100%;
    height: 100%;
}

.card h3 {
    position: absolute;
    bottom: 0;
    margin: 10px;
    color: #fff;
}